@model TTN_THKids.Models.KhachHang

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa</h2>

<h3>Chắc chắn xóa?</h3>
<div>
    <h4>Khách hàng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.HoTen)*@
            Họ tên khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Email)*@
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.DiaChi)*@
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.SoDienThoai)*@
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.TenDangNhap)*@
            Tên đăng nhập
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDangNhap)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.MatKhau)*@
            Mật khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.NgaySinh)*@
            Ngày sinh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.GioiTinh)*@
           Giới tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.ThoiGianDangKy)*@
            Thời gian đăng ký
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianDangKy)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
