@model TTN_THKids.Models.NhanVien

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết nhân viên</h2>

<div>
    <h4>Nhân viên</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.HoTen)*@
            Họ tên nhân viên 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.TenDangNhap)*@
            Tên đăng nhập
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDangNhap)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.MatKhau)*@
            Mật khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.NgayVaoLam)*@
            Ngày vào làm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayVaoLam)
        </dd>

    </dl>
</div>
<p>
    <a href="~/Admin/NhanVien/Edit/@Model.MaNhanVien">Chỉnh sửa |</a>
    <a href="~/Admin/NhanVien/Index">Quay lại</a>


    @*@Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaNhanVien }) |
        @Html.ActionLink("Quay lại", "Index")*@
</p>
