@model IEnumerable<TTN_THKids.Models.QuanTriVien>

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách quản trị viên</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pass)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pass)
        </td>
        <td>
            <a href="~/Admin/QuanTriVien/Edit/@item.ID"> Chỉnh sửa |</a>
            <a href="~/Admin/QuanTriVien/Details/@item.ID"> Chi tiết |</a>
            <a href="~/Admin/QuanTriVien/Delete/@item.ID"> Xóa</a>
           
        </td>
    </tr>
}

</table>
