@model TTN_THKids.Models.SanPham

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChatLieu.TenChatLieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChatLieu.TenChatLieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DanhMucSanPham.MaDanhMuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhMucSanPham.MaDanhMuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KichCo.TenKichCo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KichCo.TenKichCo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThuongHieu.TenThuongHieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThuongHieu.TenThuongHieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaChietKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaChietKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkAnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkListAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkListAnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongTinSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongTinSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayCapNhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongMua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongMua)
        </dd>

    </dl>
</div>
<p>
    <a href="~/Admin/SanPham/Edit/@Model.MaSanPham">Chỉnh sửa |</a>
    <a href="~/Admin/SanPham/Index">Quay lại</a>

    @*@Html.ActionLink("Edit", "Edit", new { id = Model.MaSanPham }) |
        @Html.ActionLink("Back to List", "Index")*@
</p>
