@using TTN_THKids.Models;
@{
    ViewBag.Title = "QuanSoSinh";
    //List<SanPham> listTrangSanPhamBeGai = ViewBag.TrangSanPhamBeGai;
}

<div class="top-brands">
    <div class="container">
        <h3>Quần Cho Trẻ Sơ Sinh</h3>
        <div class="agile_top_brands_grids">

            @foreach (var item in Model)
            {
                <div class="col-md-3 top_brand_left">
                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid">
                            <div class="tag"><img src="~/Content/images/tag.png" alt=" " class="img-responsive" /></div>
                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                            <a href="@Url.Action("Detailes", "Home", new{id = item.MaSanPham.Trim()})"><img title=" " alt=" " src="@item.LinkAnh" class="img-responsive" /></a>
                                            <p>@item.TenSanPham</p>
                                            <h4>@item.GiaSanPham.ToString("#,##0") đ</h4>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details">
                                            @*<form action="#" method="post">
                                                <fieldset>*@
                                            <input type="hidden" name="cmd" value="_cart" />
                                            <input type="hidden" name="add" value="1" />
                                            <input type="hidden" name="business" value=" " />
                                            <input type="hidden" name="item_name" value="@item.TenSanPham" />
                                            <input type="hidden" name="amount" value="@item.GiaSanPham.ToString("#,##0")" />
                                            <input type="hidden" name="discount_amount" value=" " />
                                            <input type="hidden" name="currency_code" value="đ" />
                                            <input type="hidden" name="return" value=" " />
                                            <input type="hidden" name="cancel_return" value=" " />
                                            <button class="btn btn-block"><a href="/Cart/AddItem/@item.MaSanPham.Trim()?returnURL = @Request.RawUrl">Add To Cart</a></button>
                                            @*<input type="submit" name="submit" value="Add to cart" class="button" />*@
                                            @*</fieldset>*@

                                            @*</form>*@

                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

