@using TTN_THKids.Models;
@{
    ViewBag.Title = "SetSoSinh";
    //List<SanPham> listTrangSanPhamBeGai = ViewBag.TrangSanPhamBeGai;
}
<div class="banner">
    <div class="w3l_banner_nav_left">
        <nav class="navbar nav_bottom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Danh mục sản phẩm</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav nav_1">
                    @*<li><a href="products.html">Branded Foods</a></li>*@
                    @*<li><a href="household.html">Households</a></li>*@
                    <li class="dropdown mega-dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bé Gái<span class="caret"></span></a>
                        <div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
                            <div class="w3ls_vegetables">
                                <ul>
                                    <li><a href="/Home/QuanBeGai">Quần cho bé gái</a></li>
                                    <li><a href="/Home/AoBeGai">Áo cho bé gái</a></li>
                                    <li><a href="/Home/SetBeGai">Bộ quần áo cho bé gái</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    @*<li><a href="kitchen.html">Kitchen</a></li>
                        <li><a href="short-codes.html">Short Codes</a></li>*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bé Trai<span class="caret"></span></a>
                        <div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
                            <div class="w3ls_vegetables">
                                <ul>
                                    <li><a href="/Home/QuanBeTrai">Quần cho bé trai</a></li>
                                    <li><a href="/Home/AoBeTrai">Áo cho bé trai</a></li>
                                    <li><a href="/Home/SetBeTrai">Bộ quần áo cho bé trai</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    @*<li><a href="pet.html">Pet Food</a></li>*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Trẻ Sơ Sinh<span class="caret"></span></a>
                        <div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
                            <div class="w3ls_vegetables">
                                <ul>
                                    <li><a href="/Home/QuanSoSinh">Quần cho trẻ sơ sinh</a></li>
                                    <li><a href="/Home/AoSoSinh">Áo cho trẻ sơ sinh</a></li>
                                    <li><a href="/Home/SetSoSinh">Bộ quần áo cho trẻ sơ sinh</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a href="/Home/SanPhamBanChay">Sản phẩm bán chạy</a></li>
                    <li><a href="/Home/SanPhamMoi">Sản phẩm mới</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </div>
    <div class="w3l_banner_nav_right">
        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="w3l_banner_nav_right_banner">
                            <h3>Có sẵn những <span>thiết kế</span> mới nhất!</h3>
                            <div class="more">
                                <a href="SanPhamMoi.cshtml" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="w3l_banner_nav_right_banner1">
                            <h3>Đa dạng <span>màu sắc </span> cho mọi tầm tuổi</h3>
                            <div class="more">
                                <a href="products.html" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="w3l_banner_nav_right_banner2">
                            <h3>Chương trình <i>giảm giá</i> hấp dẫn!</h3>
                            <div class="more">
                                <a href="products.html" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- flexSlider -->
        <link rel="stylesheet" href="~/Content/css/flexslider.css" type="text/css" media="screen" property="" />
        <script defer src="~/Content/js/jquery.flexslider.js"></script>
        <script type="text/javascript">
            $(window).load(function () {
                $('.flexslider').flexslider({
                    animation: "slide",
                    start: function (slider) {
                        $('body').removeClass('loading');
                    }
                });
            });
        </script>
        <!-- //flexSlider -->
    </div>
    <div class="clearfix"></div>
</div>


<div class="top-brands">
    <div class="container">
        <h3>Bộ Quần Áo Cho Trẻ Sơ Sinh</h3>
        <div class="agile_top_brands_grids">

            @foreach (var item in Model)
            {
                <div class="col-md-3 top_brand_left">
                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid">
                            <div class="tag"><img src="~/Content/images/tag.png" alt=" " class="img-responsive" /></div>
                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                            <a href="@Url.Action("Detailes", "Home", new{id = item.MaSanPham.Trim()})"><img title=" " alt=" " src="@item.LinkAnh" class="img-responsive" /></a>
                                            <p>@item.TenSanPham</p>
                                            <h4>@item.GiaSanPham.ToString("#,##0") đ</h4>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details">
                                            @*<form action="#" method="post">
                                                <fieldset>*@
                                            <input type="hidden" name="cmd" value="_cart" />
                                            <input type="hidden" name="add" value="1" />
                                            <input type="hidden" name="business" value=" " />
                                            <input type="hidden" name="item_name" value="@item.TenSanPham" />
                                            <input type="hidden" name="amount" value="@item.GiaSanPham.ToString("#,##0")" />
                                            <input type="hidden" name="discount_amount" value=" " />
                                            <input type="hidden" name="currency_code" value="đ" />
                                            <input type="hidden" name="return" value=" " />
                                            <input type="hidden" name="cancel_return" value=" " />
                                            <button class="btn btn-block"><a href="/Cart/AddItem/@item.MaSanPham.Trim()?returnURL = @Request.RawUrl">Add To Cart</a></button>
                                            @*<input type="submit" name="submit" value="Add to cart" class="button" />*@
                                            @*</fieldset>*@

                                            @*</form>*@

                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

