@model TTN_THKids.Models.ThuongHieu

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa</h2>

<h3>Chắc chắn xóa?</h3>
<div>
    <h4>Thương hiệu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.TenThuongHieu)*@
            Tên thương hiệu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenThuongHieu)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.DiaChi)*@
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.SoDienThoai)*@
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
