@model IEnumerable<TTN_THKids.Models.ThuongHieu>

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách thương hiệu</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.TenThuongHieu)*@
            Tên thương hiệu
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.DiaChi)*@
            Địa chỉ
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.SoDienThoai)*@
            Số điện thoại
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenThuongHieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoDienThoai)
        </td>
        <td>
            <a href="~/Admin/ThuongHieu/Edit/@item.MaThuongHieu"> Chỉnh sửa |</a>
            <a href="~/Admin/ThuongHieu/Details/@item.MaThuongHieu"> Chi tiết |</a>
            <a href="~/Admin/ThuongHieu/Delete/@item.MaThuongHieu"> Xóa</a>

            @*@Html.ActionLink("Chỉnh sửa", "Edit", new { id=item.MaThuongHieu }) |
        @Html.ActionLink("Chi tiết", "Details", new { id=item.MaThuongHieu }) |
        @Html.ActionLink("Xóa", "Delete", new { id=item.MaThuongHieu })*@
        </td>
    </tr>
}

</table>
